/*Product Card Styling*/
.product-card{
    padding: 20px;
    margin: 30px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 12px;

    box-shadow: 7px 8px 13px -4px grey;
    -webkit-box-shadow: 7px 8px 13px -4px grey;
    -moz-box-shadow: 7px 8px 13px -4px grey;
    background-color: white;
    border-color: grey;
    position: relative;
}

.product-card img{
    border: solid 1px var(--light-grey);
    width: 100%;
    padding: 42px;
    border-radius: 12px;
}

.product-card a{
    display: flex;
    justify-self: baseline;
    margin: 5px;
}

.product-card p{
    display: flex;
    justify-self: baseline;
    margin: 5px;
}

/*Heart Icon Styling*/
.heart-icon-add {
    color: var(--light-grey);
    font-size: 40px;
    cursor: pointer;
    right: 25px;
    bottom: 25px;
    position: absolute;
}

.heart-icon-remove {
    color: var(--primary-bg);
    font-size: 40px;
    cursor: pointer;
    right: 25px;
    bottom: 25px;
    position: absolute;
} 