/*Header Styling*/
.header-container {
    padding: 30px;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--blue);
    font-weight: bold;
}

.shoppingCartIcon {
    font-size: 2em;
}

.icon-container p {
    position: absolute;
    top: 35px;
    right: 45px;
    color: red;
    font-size: 22px;
}


/* Media Queries */
@Media (max-width: 425px) {
    .fake-store-link, .header-container, .icon-container p {
        font-size: 1.2rem;
    }

    .icon-container p {
        top: 32px;
        right: 40px;
    }
}