.header-container {
    padding: 30px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--blue);
    font-weight: bold;
}

.shoppingCartIcon {
    font-size: 2em;
}