/*Footer Styling*/
.footer-container {
    background-color: var(--primary-bg);
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    font-size: 20px;
}

.contact-btn {
    padding: 5px 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--white);
    display: flex;
    align-content: flex-end;
    font-size: 20px;
}


/* Media Queries */
@Media (max-width: 425px) {
    .footer-container p, .contact-btn {
        font-size: 1rem;
    }
}