/*Details Page Styling*/
.details-container {
    background-color: var(--white);
    min-height: 100vh;
    margin: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.details-container img {
    display: flex;
    align-self: center;
    width: 12rem;
}

.container-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--white);
    font-weight: 500;
    width: 50%;
    margin: 100px 0;
}

.container-info button {
    background-color: var(--yellow);
    border: none;
    padding: 10px;
    width: 180px;
    font-weight: bold;
    cursor: pointer;
}


/* Media Queries */
@media (max-width: 425px) {
    .details-container {
        flex-direction: column;
        align-items: center;
    }

    .details-container img {
        width: 10rem;
    }

    .container-info {
        width: 100%;
        margin: 0;
        height: 25rem;
        padding: 0 1rem;
    }
}